*{
    font-family: 'Nunito';
    outline: 0;
    font-weight: 400;
}
body{
    margin: 0;
    margin-top: 124px;
}
body.body-padding-top{
    margin-top: 82px;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Qanaya Demo';
    src: url('../fonts/Qanaya-Regular-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Qanaya Round Demo';
    src: url('../fonts/Qanaya-Round-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus{
    outline:none;
}
html,
body {
	height: 100%;
}
#mainNav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}
.p-relative{
    position: relative;
}
.overhidden{
    position: relative;
    overflow: hidden;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-full{
    max-width: 100%;
    margin: 0 auto;
}
.pl-0{
    padding-left: 0 !important;
}
.p-0{
    padding: 0 !important;
}
.m-0{
    margin: 0 !important;
}
.col-md-12,
.col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-md-9{
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-md-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.list-unstyled{
    list-style: none;
}
.bg-white{
    background: #fff;
}
.w-100{
    width:100%;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
#mainNav{
    transition: all 0.4s;
    box-shadow: 0 0 3px #e0e0e0;
}
#mainNav .part-2{
    padding: 10px 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.d-flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.dots-custom .slick-dots li {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.dots-custom .slick-dots li button:before{
    display: none;
}
.dots-custom .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 13px;
    height: 13px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    color: black;
    border: 1px solid #b03b34;
    outline: 0;
    background: transparent;
}
.dots-custom .slick-dots .slick-active button {
    background: #b03b34;
}
.text-center{
    text-align: center;
}
#mainNav .part-1{
    background: #D59F6C;
    overflow: hidden;
    transition: all 0.4s;
    padding: 10px 0;
    height: auto;
    z-index: 5;
    position: relative;
}
#mainNav .part-oferta{
    padding: 0;
    height: 0;
}
#mainNav .part-oferta.mostrar{
    padding: 10px 0;
    height: auto;
}
#mainNav.sticky-project .part-1{
    height: 0;
    padding: 0;
}
#mainNav .part-1 p{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color:#fff;
    font-weight: 300;
}
#mainNav .part-1 p i{
    font-style: normal;
    font-family: 'Qanaya Demo';
}
#mainNav .part-1 p span{
    border:1px solid #fff;
    border-radius: 2px;
    padding: 2px 6px;
    margin: 0 8px;
}
#mainNav .part-1 .container{
    position: relative;
    text-align: center;
}
#mainNav .part-2{
    position: relative;
    z-index: 5;
}
#mainNav .contenedor-menu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#mainNav .contenedor-menu ul li {
    margin: 0 10px;
    display: inline-block;
}
#mainNav .contenedor-menu ul li a {
    color: #975E1A;
    font-size: 14px;
    padding: 33px 0;
    display: table;
    margin-top: -1px;
    margin-bottom: -20px;
    position: relative;
    top: -9px;
}
#mainNav .contenedor-menu {
    width: auto;
    display: inline-block;
    float: right;
}
#mainNav .logo-img{
    max-width: 140px;
    width:100%;
    height: auto;
    margin-bottom: -5px;
}
#mainNav .list-items{
    float:right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#mainNav .list-items li{
    display: inline-block;
    font-size: 14px;
    margin-left: 12px;
}
#mainNav .list-items li a{
    color: #975E1A;
    padding: 13px 0;
    display: table;
}
#mainNav .list-items li img{
    width: 100%;
    max-width: 22px;
    height: auto;
    margin-right: 2px;
    position: relative;
    top: 5px;
}
#mainNav .contenedor-menu .menu-item{
    position: relative;
}

#sidebar-wrapper{
    width: 315px;
    height: 100vh;
    position: fixed;
    left: -1000%;
    top: 0;
    padding-top: 35px;
    background: #fff;
    z-index: 999999;
    transition: all 0.5s;
    overflow: hidden;
}
#sidebar-wrapper.toggled{
	left: 0 !important;
}
#sidebar-wrapper .logo-responsive{
    width: 110px;
    display: block;
    margin-top: -40px;
    margin-bottom: 10px;
}
#sidebar-wrapper .menu-item-has-children:after{
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    font-size: 14px;
    right: 15px;
    top: 10px;
    color: #000;
}
#sidebar-wrapper .close-menu{
    width: 35px;
    right: 10px;
    top: 5px;
}
#sidebar-wrapper li{
    padding: 15px 15px;
    padding-bottom: 0;
    margin-bottom: 2px;
}
#sidebar-wrapper li a{
    font-size:16px;
    color:#000;
    font-weight:300;
}
#btn-hamburguesa{
    display: none !important;
}
.d-block{
    display: block !important;
}
.overlay-menu{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .5;
    z-index: 9999;
}
.close-menu{
    position: absolute;
    z-index: 9999;
    top: 0%;
    right: 20px;
}
.menu-item.supermenu-1 a::after,
.menu-item.supermenu-2 a::after,
.menu-item.supermenu-3 a::after,
.menu-item.supermenu-4 a::after,
.menu-item.supermenu-5 a::after,
.menu-item.supermenu-6 a::after,
.menu-item.supermenu-7 a::after,
.menu-item.supermenu-8 a::after,
.menu-item.supermenu-9 a::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 20px;
    margin-bottom: -6px;
    background-image: URL('../../assets/img/arrow-menu.svg');
    background-size: 100% 100%;
    margin-left: 5px;
}
.custom-dots-1 .slick-dots li button::before{
    display: none;
}
.custom-dots-1 .slick-dots li button{
    background: #fff;
    width: 130px;
    height: 1px;
    padding: 2px;
    border-radius: 3px;
}
.custom-dots-1 .slick-dots li{
    height: auto;
    width: auto;
    opacity: 0.6;
}
.custom-dots-1 .slick-dots li.slick-active{
    opacity: 1;
}
.custom-dots-1 .slick-dots{
    bottom: 25px;
}
.item-featured .part-1 {
    position: relative;
    border-radius: 10px;
    box-shadow: none;
    transition: all 0.4s;
    margin-top: 3px;
    margin-bottom: 3px;
}
.item-featured:hover .part-1{
    box-shadow: 0 0 5px #e2e2e2;
}
.item-featured .part-1 img{
    max-width:400px;
    width:100%;
    margin: 0 auto;
    display: table;
    transition: all 0.4s;
}
.item-featured .block-now{
    position: absolute;
    bottom: 20px;
    left:0;
    text-align: center;
}
.item-featured .block-now .show-now{
    background: #975E1A;
    border-radius: 16px;
    font-size: 15px;
    color:#fff;
    padding: 10px 30px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
}
.titulo-general{
    font-size: 24px;
    color: #975E1A;
    font-family: 'Qanaya Demo';
}
.item-featured{
    padding-top: 20px;
    padding-bottom: 80px;
}
.item-featured .part-2{
    padding-top: 20px;
}
.item-featured .part-2 h3{
    font-size: 21px;
    color: #975E1A;
    margin: 0;
    font-family: 'Qanaya Demo';
}
.item-featured .part-2 p{
    margin: 0;
}
.item-featured .part-2 span{
    font-size: 14px;
    color: #975E1A;
    opacity: 0.8;
    margin: 0;
    margin-top: 3px;
}
.banner-slider .item{
    width:100%;
}
.item-featured{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.item-featured .block-now .show-heart{
    display: inline-block;
    border: 1px solid #975e1a;
    padding: 7px 30px;
    border-radius: 16px;
    margin: 0 5px;
    margin-bottom: -17px;
}
.banner-alpaca{
    position: relative;
    height: 430px;
}
.banner-alpaca .bg-img{
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 0;
}
.banner-alpaca .bg-img.mobile{
    display: none;
}
.banner-alpaca img{
    position: relative;
    z-index: 0;
}
.banner-alpaca .content{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 465px;
}
.banner-alpaca .content h3{
    color:#fff;
    margin: 0;
    font-size: 60px;
    line-height: 0.8;
    font-family: 'Qanaya Demo';
}
.banner-alpaca .content p{
    color:#fff;
    font-size: 17px;
}
.banner-alpaca .content a{
    background: #fff;
    border-radius: 16px;
    font-size: 15px;
    color: #975E1A;
    padding: 10px 30px;
    transition: all 0.4s;
    display: inline-block;
    text-transform: uppercase;
}
.banner-alpaca .content a:hover{
    background: #975E1A;
    color:#fff;
}
.btn-white{
    background: #fff;
    border-radius: 16px;
    font-size: 15px;
    color: #975E1A;
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    display: table;
    transition: all 0.4s;
}
.slider-category .item{
    width:100%;
    height:640px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.slider-category .item:hover .btn-white{
    background: #975E1A;
    color:#fff;
}
.slider-category .slick-slide{
    margin:0 10px;
}
.slider-category{
    padding: 0 15px;
}
.section-category-home{
    padding-top: 40px;
    padding-bottom: 80px;
}
.slider-category .box{
    width:100%;
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 5;
}
.section-category-home .arrow,
.section-featured .arrow{
    position: absolute;
    top:54%;
    cursor: pointer;
    width: 35px;
}
.section-category-home .arrow.prev-category,
.section-featured .arrow.prev-product-home{
    left:0;
}
.section-category-home .arrow.next-category,
.section-featured .arrow.next-product-home{
    right:0;
}
.section-latest .slider-latest{
    margin-top: 15px;
}
.slider-latest .item{
    height:305px;
    background-position: center;
    background-size: cover;
}
.slider-latest .slick-slide{
    margin:0 10px;
}
.section-latest .container,
.section-latest .container .slider-latest{
    padding: 0 15px;
}
.section-latest .arrow{
    position: absolute;
    top:50%;
    cursor: pointer;
    width: 35px;
}
.section-latest .arrow.prev-latest,
.section-latest .arrow.prev-latest-mobile{
    left:0;
}
.section-latest .arrow.next-latest,
.section-latest .arrow.next-latest-mobile{
    right:0;
}
.section-latest .arrow.prev-latest-mobile,
.section-latest .arrow.next-latest-mobile{
    display: none !important;
}
.item-blog{
    padding: 0 15px;
    padding-top: 40px;
}
.item-blog h5{
    letter-spacing: 1.4px;
    font-size: 11px;
    color: #ABA387;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.item-blog h3{
    font-size: 24px;
    color: #975E1A;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Qanaya Demo';
}
.item-blog p{
    color: #ABA387;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0;
}
.item-blog a,
.item-blog span{
    color: #975E1A;
    font-size: 15px;
    padding: 17px 0;
    display: table;
}
.item-blog .link img{
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: auto;
    position: relative;
    top: 2px;
}
.section-latest{
    padding-bottom: 60px;
}
.section-commet{
    background: #f1efe9;
    padding-top: 80px;
    padding-bottom: 100px;
}
.section-commet ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.section-commet ul li{
    display: inline-block;
}
.section-commet ul li img{
    width: 22px;
    height: auto;
}
.section-commet .item{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-commet .item p{
    color: #975E1A;
    opacity: 0.8;
    font-size: 17px;
    font-weight: 300;
    margin: 0;
    line-height: 1.6;
}
.section-commet .item h6{
    font-size: 11px;
    color: #975E1A;
    margin: 0;
    text-transform: uppercase;
}
.section-commet .item .list-star{
    margin: 15px 0;
    padding: 0;
}
.section-commet .container{
    position: relative;
    max-width: 1160px;
    padding: 0 25px;
}
.section-commet .arrow{
    position: absolute;
    top: 45%;
    cursor: pointer;
    width: 30px;
}
.section-commet .arrow.prev-comment{
    left:0;
}
.section-commet .arrow.next-comment{
    right:0;
}
.container-1200{
    max-width: 1200px;
}
.container-1100{
    max-width: 1100px;
}
.container-1000{
    max-width: 1000px;
}
.container-790{
    max-width: 790px;
}
.container-770{
    max-width: 770px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
footer{
    background: #ABA387;
    padding-top: 55px;
    padding-bottom: 25px;
    color:#fff;
}
footer .container{
    max-width: 1250px;
}
footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
footer a{
    color:#fff;
}
footer .list-footer .item{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
footer .list-footer h4{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}
footer .list-footer li a{
    font-size:12px;
    font-weight: 300;
}
footer .list-footer li{
    margin-bottom: 10px;
}
footer .row-final{
    border-top:1px solid rgb(255 255 255 / 0.5);
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 0;
}
footer .row-final .list li{
    display: inline-block;
    font-size: 12px;
    margin-left: 15px;
}
footer .row-final p{
    font-size: 12px;
    margin: 0;
    position: relative;
    top: 3px;
}
footer .row-logos{
    margin-top: 50px;
}
footer .row-logos p{
    font-size: 12px;
    margin: 0;
    position: relative;
    top: 2px;
}
footer .list-logos li{
    display: inline-block;
    margin-right: 40px;
}
footer .list-logos li img{
    max-width: 80px;
    height: auto;
    max-height: 18px;
}
footer .block-contact li{
    position: relative;
    padding-left: 25px;
    max-width: 125px;
}
footer .block-contact img{
    max-width: 16px;
    height: auto;
    position: absolute;
    left:0;
    top: 2px;
}
footer .block-social li{
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
}
footer .block-social img{
    max-width: 24px;
    height: auto;
    position: absolute;
    left:0;
    top: -1px;
}
footer .item-suscribete h4{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}
footer .item-suscribete .content-form{
    position: relative;
    max-width: 310px;
    width:100%;
    background: #fff;
    height: 40px;
    overflow: hidden;
}
footer .item-suscribete .content-form input{
    border:0;
}
footer .item-suscribete .content-form input[type="text"],
footer .item-suscribete .content-form input[type="email"]{
    width: 75%;
    padding: 10px 20px;
    padding-left: 40px;
    display: flex;
    font-size: 14px;
    color:#000;
    -webkit-appearance: none;
    -webkit-border-radius:0;
}
footer .item-suscribete .content-form input[type="text"]::placeholder,
footer .item-suscribete .content-form input[type="email"]::placeholder{
    color: #ABA387;
}
footer .item-suscribete .content-form input[type="submit"]{
    background: #D59F6C;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    font-size: 14px;
    color: #fff;
    z-index: 2;
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius: 0 !important;
}
footer .item-suscribete .content-form .letter{
    position: absolute;
    top: 7px;
    left: 6px;
    width: 24px;
    height: auto;
}
footer .item-suscribete .link{
    font-size: 12px;
}
footer .item-suscribete .link a{
    text-decoration: underline;
}
.breadcrumbs{
    padding: 15px 0;
    position: relative;
    overflow: hidden;
}
.breadcrumbs ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: #ABA387;
    font-size: 11px;
}
.breadcrumbs ul li{
    display: inline-block;
}
.breadcrumbs ul li a{
    color: #ABA387;
    font-weight: 300;
    text-transform: uppercase;
}
.breadcrumbs ul li::before{
    content:'/';
    margin: 1px 10px;
}
.breadcrumbs ul li:nth-child(1)::before{
    display: none;
}
.breadcrumbs .container,
.tienda-descripcion .container{
    max-width: 1200px;
}
.tienda-descripcion .container p{
    color: #975E1A;
    font-size: 15px;
}
.tienda-descripcion .container .titulo {
    color: #975E1A;
    font-size: 34px;
    font-family: 'Qanaya Demo';
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-productos .img-product{
    box-shadow: none;
    border-radius: 10px;
    transition: all 0.4s;
}
.section-productos .item-featured:hover .img-product{
    box-shadow: 0 0 4px #d0d0d0;
}
.section-productos .item-featured .block-now {
    bottom: 27px;
    opacity: 0;
    transition: all 0.4s;
}
.section-productos .item-featured:hover .block-now{
    opacity: 1;
}
.section-featured{
    padding-bottom: 80px;
}
.section-productos .item-featured{
    margin-bottom: 40px;
}
.colors{
    margin: 9px 0;
}
.colors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.colors ul li{
    display: inline-block;
}
.colors ul li .item{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #E4DFD5;
}
.price{
    font-size: 11px;
    margin-top: 3px !important;
    display: table;
}
.price del{
    text-decoration: line-through;
    color: #ABA387;
    opacity: 0.8;
}
.price del span{
    color: #ABA387 !important;
}
.price ins{
    text-decoration: none;
    margin-right: 8px;
}
.price del,
.price ins{
    display: inline-block;
}
.price .currencySymbol{
    margin-right: 2px !important;
}
.item-featured .block-etiquetas{
    position: absolute;
    top: 5px;
    left: 0;
    text-transform: uppercase;
}
.item-featured .block-etiquetas .etiqueta{
    margin: 5px 10px;
}
.item-featured .block-etiquetas .etiqueta.new{
    color: #975E1A;
    font-size: 11px;
    border: 1px solid #975E1A;
    padding: 3px 10px;
    border-radius: 7px;
}
.item-featured .block-etiquetas .etiqueta.sale{
    background: #EBD67D;
    color:#975E1A;
    font-size: 11px;
    border: 1px solid #EBD67D;
    padding: 3px 10px;
    border-radius: 7px;
}
.section-productos{
    padding-bottom: 25px;
    padding-top: 35px;
}
.section-filter{
    border-bottom:1px solid rgb(171 163 135 / 0.3);
    padding-bottom: 5px;
    padding-top: 15px;
    position: relative;
    z-index: 4;
}
.section-filter .container{
    max-width: 1200px;
}
.section-filter p{
    margin: 0;
    font-size: 14px;
    color: #ABA387;
    opacity: 0.8;
}
.section-filter .bloque-1,
.section-filter .bloque-2{
    display: inline-block;
}
.section-filter .bloque-1{
    margin-right: 20px;
    font-size: 14px;
    color: #ABA387;
    opacity: 0.8;
}
.select2-container--default .select2-selection--single{
    border:0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    color: #ABA387;
}
.select2-container--default .select2-search{
    display: none !important;
}
.select2-container--open .select2-dropdown--below {
    width: 200px !important;
    margin-top: 6px;
}
.select2-results__option {
    color: #ABA387;
    font-weight: 300;
    text-align: center;
}
.select2-dropdown {
    border:0;
    border-radius: 6px;
    box-shadow: 0 1px 2px #dadada;
    text-transform: uppercase;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: #975E1A;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f9f9f9;
    color: #975E1A;
}
.select2-results__option{
    font-size: 11px;
    position: relative;
    padding: 10px 20px;
    text-align: left;
}
.select2-results__option::before{
    content:'';
    display: block;
    border-bottom: 1px solid #e6e6e6;
    width:80%;
    height: 1px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: none;
    overflow-y: visible;
}
#filter-by{
    cursor: pointer;
}
#filter-by img{
    width: 16px;
    height: auto;
    position: relative;
    top: 4px;
    margin-left: 5px;
}

/* TABS */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #fff;
}
.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}
.nav-tabs .nav-link {
    border: 0;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.tab-content>.active {
    display: block;
}
.tab-content>.tab-pane {
    display: none;
}
.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity .15s linear;
}
.tab-content>.active {
    display: block;
}
.fade.show {
    opacity: 1;
}
/* TABS */
#filtro-tienda{
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    width: 100%;
    z-index: 3333;
    background: #fff;
    max-width: 1200px;
    box-shadow: 0px 1px 2px #e6e6e6;
}
#filtro-tienda .container{
    max-width: 100%;
    padding: 0;
}
#filtro-tienda .tab-content{
    padding: 20px 25px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 165px;
}
#filtro-tienda nav{
    background:rgb(229 229 229 / 0.3);
}
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border: 1px solid #bcb5a0;
    border-radius: 4px;
}
.customcheck input:checked ~ .checkmark {
    background-color: #fff;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customcheck input:checked ~ .checkmark:after {
    display: block;
    background: #bcb5a0;
    width: 68%;
    height: 68%;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.customcheck{
    position: relative;
    padding-left: 25px;
    display: table;
}
.customcheck input{
    opacity: 0;
    position: absolute;
    left:0;
}
.customcheck .text{
    top:2px;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    color: #ABA387;
}
.customcheck a{
    text-decoration: underline;
    color: #CD93B0;
}
#filtro-tienda{
    display: none;
}
#filtro-tienda.show{
    display: block;
}
#filtro-tienda .customcheck{
    margin-bottom: 15px;
}
#filtro-tienda .btn-apply{
    background: #ABA387;
    border-radius: 14px;
    margin: 0 auto;
    display: table;
    padding: 4px 25px;
    color: #fff;
    margin-top: 18px;
    letter-spacing: 1px;
}
#filtro-tienda nav .nav{
    max-width: 900px;
    margin: 0 auto;
}
#filtro-tienda nav .nav a{
    color: #975E1A;
    font-size: 15px;
}
#filtro-tienda nav .nav img{
    margin-left: 7px;
    width: 14px;
    height: auto;
}
#filtro-tienda nav .nav-item img{
    transition: all 0.4s;
}
#filtro-tienda nav .nav-item.active img{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slider-category .item .bg-img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
}
.slider-category .item .bg-img.bg-hover{
    opacity: 0;
    transition: all 0.4s;
}
.slider-category .item:hover .bg-img.bg-hover{
    opacity: 1;
}
.banner-head{
    height: 180px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.banner-head .bg-img{
    background-position: top;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.banner-head h2{
    margin: 0;
    font-size: 48px;
    font-family: 'Qanaya Demo';
    color: #975E1A;
}
.banner-head .container{
    z-index: 1;
    width: 100%;
    max-width: 1100px;
}
.section-sitemap{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-sitemap .container{
    max-width: 1300px;
}
.section-sitemap ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-sitemap ul li a{
    color: #ABA387;
    font-size: 15px;
    padding-left: 26px;
    display: table;
}
.section-sitemap .titulo{
    color: #975E1A;
    font-family: 'Qanaya Demo';
    font-size: 34px;
    margin: 0;
    margin-bottom: 25px;
}
.section-sitemap .bloque{
    border-bottom: 1px solid rgb(171 163 135 / 0.4);
}
.section-sitemap .bloque .row-fila{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}
.section-sitemap .container .bloque:nth-last-child(1){
    border:0;
}
.section-sitemap .bloque .row-fila li{
    position: relative;
    margin-bottom: 12px;
}
.section-sitemap .bloque .row-fila .col-md-4  ul li:nth-child(1)::before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: URL('/wp-content/themes/alpaca/assets/img/bullet.svg');
    position: absolute;
    top: 1px;
    left: 0;
    background-size: 100% 100%;
}
.section-sitemap .bloque .row-fila .col-md-4  ul li:nth-child(1) a{
    color: #975E1A;
}
.section-contact{
    padding-top: 50px;
    padding-bottom: 70px;
}
.section-contact .container{
    max-width: 1100px;
}
.content-general p{
    font-size: 15px;
    color: #ABA387;
    margin: 0;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    font-weight: 300;
    line-height: 1.6;
}
.content-general a{
    font-size: 15px;
    color: #ABA387;
    text-decoration: underline;
    letter-spacing: 0.5px;
}
.content-general strong{
    font-weight: 600;
}
.content-general h1,
.content-general h2,
.content-general h3,
.content-general h4,
.content-general h5,
.content-general h6{
    color: #975E1A;
    font-family: 'Qanaya Demo';
    margin: 0;
    margin-bottom: 15px;
}
.content-general h2{
    font-size: 34px;
}
.content-general h3{
    font-size: 21px;
}
.content-general img{
    max-width: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.section-brown.content-general{
    background: #dbad81;
    position: relative;
    padding-top: 55px;
    padding-bottom: 40px;
    position: relative;
}
.content-general ul li::before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: URL('/wp-content/themes/alpaca/assets/img/bullet.svg');
    position: absolute;
    top: 2px;
    left: -30px;
    background-size: 100% 100%;
}
.section-brown.content-general ul li::before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: URL('/wp-content/themes/alpaca/assets/img/bullet-white.svg') !important;
    position: absolute;
    top: 2px;
    left: -30px;
    background-size: 100% 100%;
}
.section-brown.content-general::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: URL('/wp-content/themes/alpaca/assets/img/banner-brown.png');
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: bottom;
}
.section-brown.content-general .container{
    z-index: 5;
    position: relative;
}
.section-brown.content-general,
.section-brown.content-general h1,
.section-brown.content-general h2,
.section-brown.content-general h3,
.section-brown.content-general h4,
.section-brown.content-general h5,
.section-brown.content-general h6,
.section-brown.content-general a,
.section-brown.content-general ul li,
.section-brown.content-general ol li,
.section-brown.content-general span,
.section-brown.content-general strong,
.section-brown.content-general p{
    color:#fff !important;
}
.content-general ul li,
.content-general ul li a{
    color: #ABA387;
}
.content-general ul,
.content-general ol,
.section-brown.content-general ul,
.section-brown.content-general ol{
    padding-left: 25px;
}
.content-general ul li,
.content-general ol li,
.section-brown.content-general ul li,
.section-brown.content-general ol li{
    font-weight: 300;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
}
.content-general ul li,
.section-brown.content-general ul li{
    list-style: none;
}
.section-contact .bloque-2{
    max-width: 460px;
    margin: 0 auto;
}
.section-contact .descripcion{
    padding-bottom: 40px;
}
.section-contact .bloque-2 .box{
    border-bottom: 1px solid rgb(171 163 135 / 0.3);
    padding-top: 30px;
    padding-bottom: 20px;
}
.section-contact .bloque-1 img{
    max-width: 500px;
}
.section-contact .bloque-2 .box:nth-child(1){
    padding-top: 0 !important;
}
.section-contact .bloque-2 .box:nth-last-child(1){
    padding-bottom: 0 !important;
    border:0;
}
.section-faq{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-faq .box{
    max-width: 760px;
    border-bottom: 1px solid rgb(171 163 135 / 0.3);
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
}
.section-faq .box .inner{
    padding: 20px 35px;
    max-width: 730px;
    margin: 0 auto;
}
.section-faq .container .box:nth-last-child(1){
    border:0;
}
.section-faq .titulo{
    position: relative;
}
.section-faq .titulo::before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: URL('/wp-content/themes/alpaca/assets/img/bullet.svg');
    position: absolute;
    top: 1px;
    left: -30px;
    background-size: 100% 100%;
}
.section-how{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bloque-how-take{
    max-width: 795px;
    margin: 25px auto;
    display: table;
}
.bloque-how-take .inner{
    padding: 0 20px;
    position: relative;
    padding-left: 35px;
}
.bloque-how-take .inner::before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: URL('/wp-content/themes/alpaca/assets/img/bullet.svg');
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    left: 7px;
    background-size: 100% 100%;
}
.bloque-how-take .box {
    padding-left: 55px;
    position: relative;
    padding-top: 15px;
    margin: 12px 0;
    display: table;
}
.bloque-how-take .box .ico{
    max-width: 38px;
    height: auto;
    position: absolute;
    top: 38%;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.bloque-how-take .box.box-ubicacion{
    max-width: 330px;
}
.bloque-how-take .box.box-ubicacion .ico{
    max-width: 26px;
    left: 10px;
}
.bloque-how-take .box.box-ubicacion p{
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.block-padding-100{
    padding: 120px 15px;
}
.block-padding-50{
    padding: 60px 15px;
}
.section-alpaca{
    padding-top: 60px;
    padding-bottom: 60px;
}
.img-about-1{
    width:360px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.img-about-2{
    width:365px;
    margin-top: 50px !important;
    margin-bottom: 35px !important;
}
.img-alpaca-1{
    width:370px;
    margin-left: 0 !important;
}
.img-alpaca-2{
    width:370px;
    margin-right: 0 !important;
}
.list-certificates{
    padding: 0 !important;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto !important;
    margin-bottom: 30px !important;
}
.list-certificates h4{
    display: inline-block;
    font-size: 21px;
    font-family: 'Qanaya Demo';
    color: #975E1A !important;
    cursor: pointer;
}
.list-certificates h4.active{
    border-bottom: 1px solid #975E1A !important;
}
.section-certificates {
    padding-top: 60px;
    padding-bottom: 70px;
}
.form-control{
    margin-bottom: 30px;
}
.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea{
    width: 99%;
    border: 1px solid #ABA387;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px 3px;
}
.form-control textarea{
    height:110px;
}
.form-control label{
    color: #ABA387;
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 7px;
}
.form-control label img{
    width: 15px;
    height: auto;
    margin: 0;
    left: 0;
    position: absolute;
    top: -5px;
}
.form-control .required{
    color: #ABA387;
    float: right;
    font-size: 10px;
    position: relative;
    top: 5px;
}
.form-group{
    padding: 0 20px;
}
.form-control .checkmark{
    top:4px;
}
.form-control .img-form-1{
    margin-top: 45px;
}
.form-control .content-radio{
    border: 1px solid #aba387;
    border-radius: 4px;
    padding: 10px 20px;
    width:100%;
}
.form-control .customcheck{
    display: block;
}
.form-control .customcheck .text{
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
}
.form-control .content-radio .customcheck{
    margin: 12px 0;
}
.form-control .content-radio .customcheck .checkmark{
    height: 16px;
    width: 16px;
    border-radius: 11px;
    top: 1px !important;
}
.form-control .content-radio .customcheck input:checked ~ .checkmark:after {
    border-radius: 8px;
}
.section-certificates .content-btn-form{
    margin-top: 10px;
}
.section-certificates .btn-form{
    display: inline-block;
    text-decoration: none;
    background: #ABA387;
    border-radius: 14px;
    margin: 10px 0;
    margin: 0 auto;
    padding: 6px 25px;
    color: #fff;
    margin-top: 18px;
    letter-spacing: 1px;
    margin: 0 7px !important;
}
.section-certificates .btn-form.btn-form-2{
    background: #fff;
    color: #975E1A;
    border:1px solid #ABA387;
}
.bloque-ticket .form-control{
    padding-right: 240px;
    position: relative;
    margin-top: 35px;
}
.bloque-ticket input[type="submit"]{
    background: #975E1A;
    height: 41px;
    position: absolute;
    right: 0;
    bottom: 1px;
    border-radius: 4px;
    width: 220px;
    font-size: 14px;
    color: #fff;
    border: 0;
    z-index: 2;
    cursor: pointer;
}
.section-latest.section-latest-2{
    padding-bottom: 80px;
}
.section-blog-single{
    padding-top: 35px;
    padding-bottom: 40px;
}
.new-date{
    color: #ABA387;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    margin-top: -10px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.bloque-share .text-share{
    color: #975E1A;
    font-size: 16px;
    font-family: 'Qanaya Demo';
    margin-right: 5px;
}
.bloque-share a{
    color:#ABA387;
    font-size: 16px;
    transition: all 0.4s;
    padding: 5px 5px;
}
.bloque-share a:hover{
    color: #975E1A;
}
.section-blog{
    padding-top: 80px;
    padding-bottom: 50px;
}
.section-blog .item .bg-head{
    height:315px;
    background-size: cover;
    background-position: center;
}
.section-blog .item{
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 70px;
    box-shadow: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s;
}
.section-blog .item:hover{
    box-shadow: 0 0 5px #e2e2e2;
}
.section-blog .item .item-blog {
    padding: 0 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}




.block-nav-single{
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    display: inline-block;
    position: relative;
    max-height: 520px;
    padding-top: 20px;
}
.block-content-single{
    -ms-flex: 0 0 87%;
    flex: 0 0 87%;
    max-width: 87%;
    display: inline-block;
}
.block-nav-single .bg-img img{
    height:120px;
    margin: 0 auto;
}
.block-nav-single i{
    font-size: 20px;
}
.block-nav-single .control-arrow {
    text-align: center;
    cursor: pointer;
}
.block-nav-single .prev-single{
    position: absolute;
    top: -5px;
    width: 100%;
}
.block-nav-single .next-single{
    position: absolute;
    bottom:-22px;
    width: 100%;
}
.block-nav-single .slick-slide .bg-img{
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.7;
    transition: all 0.4s;
}
.block-nav-single .slick-slide.slick-current .bg-img{
    border: 1px solid #D59F6C;
    opacity: 1;
}
.content-general iframe{
    max-width: 100%;
    margin: 20px auto;
    display: table;
}
.single-description{
    padding-top: 15px;
}
.single-description .title{
    color: #975E1A;
    font-family: 'Qanaya Demo';
    margin: 0;
    font-size: 34px;
}
.single-description .category{
    color: #975E1A;
    font-size: 17px;
    margin: 8px 0;
}
.single-description .sku{
    font-size: 11px;
    color: #ABA387;
    margin: 8px 0;
}
.single-description .price ins span,
.single-description .price span{
    color: #975E1A;
    font-size: 21px;
}
.single-description .price del span{
    font-size: 15px;
}
.single-description .price del{
    position: relative;
    top: -2px;
}
.bloque-star ul li{
    display: inline-block;
    margin-left: 3px;
    opacity: 0.4;
}
.bloque-star ul li img{
    max-width: 20px;
    width:100%;
    height: auto;
}
.bloque-star ul li.activo,
.bloque-star .reviews{
    opacity: 1;
}
.bloque-star ul li span{
    color: #975E1A;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: -4px;
    left: 3px;
}
.single-description .bloque-star{
    margin-bottom: 10px;
    margin-top: 10px;
}
.single-description .link-review{
    color: #975E1A;
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.box-variations{
    margin-top: 15px;
    padding-bottom: 12px;
}
.box-variations label{
    color: #975E1A;
    font-size: 16px;
    font-family: 'Qanaya Demo';
    margin-top: 10px;
    display: table;
    margin-bottom: 10px;
}
.single-description .bloque-share a{
    font-size: 20px;
    margin-right: 12px;
}
.single-description p{
    color: #ABA387;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
}
.single-description .fila{
    margin-top: 20px;
}
.fila-color .customcheck{
    display: inline-block;
    padding: 0;
    width:38px;
    height:38px;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.fila-color .customcheck .color {
    top: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0px 0px 2px #e0e0e0;
}
.fila-color .customcheck .color .inner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.fila-color input:checked ~ .color{
    border: 1px solid #975e1a;
}
.fila-color ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.fila-color ul li{
    display: inline-block;
}
.btn-add{
    background: #fff;
    color: #975E1A;
    border-radius: 16px;
    font-size: 15px;
    padding: 9px 20px;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0;
    border:1px solid #ABA387;
    transition: all 0.4s;
}
.btn-add:hover{
    background: #D59F6C;
    color:#fff;
    border:1px solid #D59F6C;
}
.btn-whishlist{
    background: #ABA387;
    border-radius: 16px;
    font-size: 15px;
    color: #fff;
    padding: 9px 20px;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0;
    border:1px solid #ABA387;
    transition: all 0.4s;
}
.box-write-us{
    margin: 17px 0;
    margin-bottom: 35px;
}
.box-write-us p,
.box-write-us p a{
    color: #975E1A;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.box-write-us p a:hover{
    text-decoration: underline;
}
.single-description .accordion-container p{
    font-size: 15px;
}
.accordion-titulo{
    color: #975E1A;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
    display: table;
    padding-top: 8px;
}
.accordion-titulo i{
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: 20px;
    transition: all 0.4s;
}
.accordion-container{
    width: 100%;
    max-width: 420px;
    border-top: 1px solid #e4e4e4;
    padding-top: 6px;
    margin: 10px 0;
    margin-top: 15px;
    margin-bottom: 0;
}
.acordeones{
    margin-top: 20px;
}
.accordion-titulo.open i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.box-quantity input,
.box-quantity textarea{
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}
.box-quantity input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.box-quantity input::-webkit-outer-spin-button,
.box-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.box-quantity .input-group {
    clear: both;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(171 163 135 / 0.5);
    overflow: hidden;
    margin-bottom: 3px;
    margin-top: 3px;
}
.box-quantity .input-group input[type='button'] {
  background-color: #fff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  font-size: 20px;
  color: #aba387;
}
.box-quantity .input-group .button-minus,
.box-quantity .input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}
.box-quantity .input-group .quantity-field {
    position: relative;
    height: 38px;
    left: 0px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 17px;
    margin: 0 0 5px;
    resize: vertical;
    margin: 0;
    color: #975e1a;
    top: 0;
}
.box-quantity input[type="number"]{
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
.section-comment .item {
    border-top: 1px solid #eaeaea;
    padding-top: 35px;
    padding-bottom: 30px;
}
.section-comment .item .text{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}
.section-comment .item .date{
    color: #ABA387;
    font-size: 15px;
    font-weight: 300;
}
.section-comment .item p{
    color: #975E1A;
    font-size: 17px;
}
.row-reviews{
    margin-top: 35px;
}
.row-reviews .text{
    margin: 0;
    color: #975E1A;
    font-size: 16px;
    font-family: 'Qanaya Demo';
}
.row-reviews .select2 span{
    color: #975E1A;
    font-weight: 300;
}
.row-reviews .box-select{
    position: relative;
    top: -3px;
}
.section-comment{
    padding-top: 50px;
    padding-bottom: 20px;
}
.section-comment .titulo{
    color: #975E1A;
    font-family: 'Qanaya Demo';
    margin: 0;
    font-size: 34px;
    margin-bottom: 35px;
}
.section-comment .title-comment-0{
    color: #975E1A;
    font-family: 'Qanaya Demo';
    margin: 0;
    font-size: 24px;
    margin-bottom: 15px;
}
.section-comment .col-a{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.section-comment .col-b{
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.content-barras{
    max-width: 470px;
}
.content-barras .barra{
    width:100%;
    background: #F0F0F0;
    height:15px;
    position: relative;
    overflow: hidden;
}
.content-barras .barra-item{
    position: relative;
    padding: 0 40px;
    margin: 5px 0;
    padding-right: 35px;
}
.content-barras .barra-item span{
    color: #ABA387;
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    top:0;
}
.content-barras .barra-item span.left{
    left:0;
}
.content-barras .barra-item span.right{
    right:0;
}
.content-barras .barra-item .progreso{
    background: #D59F6C;
    position: absolute;
    left:0;
    top:0;
    height:100%;
}
#carrito{
    position: fixed;
    display: block;
    background: #fff;
    top:100px;
    right:10px;
    width:400px;
    height:400px;
    box-shadow: 0 0 2px #e0e0e0;
    display: none;
    z-index: 5;
}
#carrito.mostrar{
    display: block;
}
#carrito .part-head{
    padding: 20px;
    padding-bottom: 10px;
    position: relative;
}
#carrito .part-head .titulo-cart{
    font-size: 21px;
    color: #975E1A;
    margin: 0;
    font-family: 'Qanaya Demo';
}
#carrito .part-body{
    height:225px;
    overflow-y: scroll;
    position: relative;
    width:100%;
}
#carrito .part-footer{
    padding: 20px 35px;
    padding-bottom: 15px;
}
#carrito .btn-checkout{
    background: #975E1A;
    border-radius: 16px;
    font-size: 15px;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    display: table;
    margin-top: 15px;
    transition: all 0.4s;
}
#carrito .part-footer .subtotal{
    margin: 0;
    font-size: 16px;
}
#carrito .part-footer p{
    margin: 0;
}
#carrito .part-footer .text{
    color: #ABA387;
    font-size: 16px;
    margin-right: 25px;
    font-family: 'Qanaya Demo';
}
#carrito .part-footer .price{
    display: inline-block;
    color: #975E1A;
    font-size: 16px;
}
#carrito #close-cart{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: auto;
    cursor: pointer;
}
#carrito .part-body .item{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #efefef;
    max-width: 385px;
    margin: 0 auto;
    padding: 5px 0;
}
#carrito .part-body .item .col-a{
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}
#carrito .part-body .item .col-a img{
    max-width: 100px;
    width:100%;
    display: table;
    margin: 0 auto;
}
#carrito .part-body .item .col-b{
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}
#carrito .part-body .item .col-b h3{
    margin: 0;
    font-size: 16px;
    color: #975E1A;
    font-family: 'Qanaya Demo';
    margin-bottom: 3px;
}
#carrito .part-body .item .col-b h4{
    margin: 0;
    font-size: 16px;
    color: #ABA387;
}
#carrito .part-body .item .inner{
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
    top: 13px;
}
#carrito .part-body .item .delete{
    position: absolute;
    right: 21px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: auto;
}
#mainNav .part-oferta .container{
    position: relative;
}
#mainNav .part-oferta .container #close-oferta{
    position: absolute;
    right: 8px;
    top: 3px;
    width: 15px;
    height: auto;
    cursor: pointer;
}
.contenedor-filtro{
    position: fixed;
    top: -2000px;
    left: 50% !important;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background: white;
    width: 100%;
    transition: all 0.5s;
    padding-top: 45px;
    padding-bottom: 40px;
    z-index: 1;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
#mainNav .part-1.mostrar ~ .contenedor-filtro.desplegar-menu{
    top: 124px;
}
#mainNav .part-1 ~ .contenedor-filtro.desplegar-menu{
    top: 82px;
}
.sticky-project .contenedor-filtro.desplegar-menu{
    top: 82px !important;
}
#mainNav.sticky-project .part-1.mostrar ~ .contenedor-filtro.desplegar-menu{
    top: 82px !important;
}
#mainNav .part-1.mostrar ~ #carrito{
    top: 100px;
}
#mainNav .part-1 ~ #carrito{
    top: 66px;
}
.sticky-project .part-1 ~ #carrito{
    top: 66px !important;
}
#mainNav.sticky-project .part-1.mostrar ~ #carrito{
    top: 66px !important;
}
.contenedor-filtro .list-supermenu,
.contenedor-filtro .list-supermenu li{
    display: inline-block;
}
.contenedor-filtro .list-supermenu .item{
    width:200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}
.contenedor-filtro .list-supermenu .item::before{
    content:'';
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    background: #000;
    background: rgb(0 0 0 / 0.2);
    transition: all 0.4s;
    opacity: 0;
}
.contenedor-filtro .list-supermenu li{
    margin-left: 10px;
}
.list-links-more,
.bloque-links{
    display: inline-block;
    vertical-align: top;
}
.bloque-links .list-links-more li{
    text-align: left !important;
}
.bloque-links .list-links-more{
    min-width: 170px;
    padding-right:30px;
}
.bloque-links .list-links-more li{
    margin-bottom: 13px;
}
.bloque-links .list-links-more li,
.bloque-links .list-links-more li a{
    font-size: 16px;
    color: rgb(213 159 108 / 0.8);
    font-weight: 300;
}
.contenedor-filtro .list-supermenu h4{
    color: #ABA387;
    margin: 0;
    text-align: left;
    margin-top: 7px;
    font-weight: 300;
}
.contenedor-filtro .bloque-links-right{
    padding-left: 30px;
}
.contenedor-filtro .btn-black{
    background: transparent;
    border-radius: 16px;
    font-size: 15px;
    color: #fff;
    padding: 10px 15px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #fff;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.4s;
    z-index: 2;
}
.contenedor-filtro .list-supermenu .item:hover .btn-black,
.contenedor-filtro .list-supermenu .item:hover::before{
    opacity: 1;
}
@media (max-width: 1350px){
    #mainNav .contenedor-menu ul li {
        margin-right: 0;
    }
}
#mainNav .part-oferta .text-mobile{
    display: none;
}
@media (max-width: 1250px){
    #mainNav .contenedor-menu ul li {
        margin-right: 0;
    }
    #mainNav .contenedor-menu,
    #mainNav .list-items span{
        display: none;
    }
    #btn-hamburguesa{
        display: inline-block !important;
    }
}
@media (max-width: 767px){
    #mainNav .part-1 p i{
        display: none;
    }
    #mainNav .part-1 .container{
        text-align: left;
    }
    #mainNav .part-oferta .text-mobile{
        display: block;
    }
}
@media (max-width: 360px){
    #mainNav .part-1 p {
        font-size: 13px;
    }
    #mainNav .part-oferta .text-mobile{
        margin-left: -3px;
        margin-right: -4px;
    }
    #mainNav .part-1 p span {
        margin: 0 5px;
    }
}
@media (max-width: 340px){
    #mainNav .logo-img {
        margin-left: -5px;
    }
    #mainNav .list-items {
        margin-right: -5px;
    }
}
@media (max-width: 420px){
    #carrito{
        width:100% !important;
        right: 0;
    }
}
@media (max-width: 360px){
    #carrito .part-head .titulo-cart {
        font-size: 19px;
    }
    #carrito .part-body .item .col-b h4 {
        font-size: 14px;
    }
    #carrito .part-body .item .col-a img {
        max-width: 93px;
    }
    #carrito #close-cart {
        width: 19px;
    }
    #carrito .part-body .item .delete {
        width: 18px;
    }
    #carrito .btn-checkout {
        font-size: 14px;
    }
}
#sidebar-wrapper .sidebar-footer{
    position: absolute;
    width: 100%;
    bottom: 90px;
    left: 0;
    z-index: 11;
    height: 58px;
    text-align: center;
    background: #E4DFD5;
}
#sidebar-wrapper .sidebar-footer a {
    color: #975E1A;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 17px 0;
    display: table;
    width: 100%;
    border-left: 1px solid white;
}
#sidebar-wrapper .sidebar-footer a img {
    margin-top: -5px;
    position: relative;
    top: 7px;
    max-width: 25px;
    margin-right: 5px;
}
#sidebar-wrapper .acordeones{
    margin-top: 15px;
    padding-left: 22px;
    padding-right: 22px;
    overflow-x: scroll;
    position: relative;
    height: 65vh;
    padding-bottom: 100px;
}
#sidebar-wrapper .accordion-titulo,
#sidebar-wrapper .no-accordion-titulo{
    font-size: 15px;
    position: relative;
    width: 90%;
}
#sidebar-wrapper .no-accordion-titulo{
    color: #975e1a;
    text-transform: uppercase;
}
#sidebar-wrapper .accordion-container{
    border-top:0;
}
#sidebar-wrapper .accordion-titulo::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
    background-image: URL('../../assets/img/arrow-menu.svg');
    background-size: 100% 100%;
    margin-left: 5px;
    position: absolute;
    right: -27px;
    top: 6px;
}
#sidebar-wrapper .accordion-content{
    padding-top: 10px;
}
#sidebar-wrapper .accordion-content a{
    display: block;
    width: 100%;
    color: #D59F6C;
    font-size: 15px;
    border-bottom: 1px solid #f1f1f1;
    padding: 14px 0;
    font-weight: 300;
}
#sidebar-wrapper .accordion-titulo::after{
    transition: all 0.4s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
#sidebar-wrapper .accordion-titulo.open::after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 1250px){
    footer .col-md-9,
    footer .col-md-3{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .item-suscribete{
        padding-top: 30px;
        text-align: center;
    }
    footer .item-suscribete .content-form{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 950px){
    footer .col-md-10,
    footer .col-md-2,
    footer .col-md-6{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center !important;
    }
    footer .row-logos p{
        margin-top: 10px;
    }
    footer .col-md-6.text-left p{
        margin-bottom: 15px;
        margin-top: -10px;
    }
}
@media (max-width: 800px){
    footer .list-footer .item {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin-bottom: 35px;
    }
    footer .item-suscribete {
        padding-top: 0;
    }
    footer .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    footer .list-logos li img {
        margin: 5px 0;
    }
}
@media (max-width: 550px){
    footer .list-footer .item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer .block-contact li {
        max-width: 225px;
    }
    footer .list-footer{
        max-width: 450px;
        margin: 0 auto;
    }
    footer .col-md-6.text-left p {
        margin-top: -20px;
    }
    footer .list-logos li img {
        max-width: 63px;
        max-height: 13px;
    }
    footer .list-logos li {
        margin-right: 10px;
        margin-left: 10px;
    }
    footer .item-suscribete .content-form{
        height: 80px;
    }
    footer .item-suscribete .content-form input[type="submit"] {
        bottom: 0;
        max-width: 100%;
        height: 40px;
        width: 110%;
        top: auto;
    }
}
@media (max-width: 360px){
    footer .row-final .list li {
        display: block;
        margin-left: 0;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    footer .item-suscribete h4,
    footer .item-suscribete .link{
        text-align: left;
    }
    footer .row-logos {
        margin-top: 25px;
    }
}
@media (max-width: 1200px){
    .section-commet .arrow.prev-comment {
        left: 5px;
    }
    .section-commet .arrow.next-comment {
        right: 5px;
    }
}
@media (max-width: 850px){
    .section-commet {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}
@media (max-width: 1100px){
    .section-category-home .container{
        max-width: 850px;
    }
}
@media (max-width: 767px){
    .section-category-home .slider-category .item{
        height: 620px;
    }
    .section-category-home .slider-category {
        padding: 0;
    }
    .section-category-home .slider-category .slick-slide {
        margin: 0 5px;
    }
    .section-category-home .arrow.prev-category {
        left: -7px;
    }
    .section-category-home .arrow.next-category {
        right: -7px;
    }
}
@media (max-width: 1100px){
    .banner-alpaca .content {
        top: 50%;
        left: 50%;
    }
}
@media (max-width: 749px){
    .section-category-home .container{
        max-width: 450px;
    }
    .banner-alpaca .content {
        width: 100%;
        max-width: 290px;
    }
    .banner-alpaca .content h3 {
        font-size: 54px;
    }
}
.section-latest .bloque-mobile{
    display: none;
}
.section-latest.section-blog-slider{
    padding-top: 0 !important;
    padding-bottom: 60px !important;
}
.slider-latest-mobile .slick-slide{
    margin: 0 8px;
}
@media (max-width: 991px){
    .section-latest .bloque-desktop{
        display: none;
    }
    .section-latest .bloque-mobile{
        display: block;
    }
    .section-latest .prev-latest,
    .section-latest .next-latest{
        display: none !important;
    }
    .section-latest .arrow.prev-latest-mobile,
    .section-latest .arrow.next-latest-mobile{
        display: block !important;
    }
    .section-latest .container {
        max-width: 850px;
        padding: 0 30px;
    }
    .section-latest .item {
        box-shadow: 0 0 5px #e2e2e2;
    }
}
@media (max-width: 749px){
    .section-latest .container{
        max-width: 450px;
    }
}
@media (max-width: 550px){
    .section-latest .arrow.prev-latest-mobile {
        left: -7px;
    }
    .section-latest .arrow.next-latest-mobile {
        right: -7px;
    }
    .section-latest .container {
        padding: 0 20px;
    }
    .section-latest .container {
        padding: 0 15px;
    }
    .section-latest.section-blog-slider{
        padding-bottom: 0 !important;
    }
}
@media (max-width: 480px){
    .section-blog .item .bg-head {
        height: 280px;
    }
    .section-latest .titulo-general,
    .section-commet .titulo-general{
        margin-bottom: 50px;
    }
    #sidebar-wrapper{
        width:100%;
    }
}
@media (max-width: 1100px){
    .section-featured .container{
        max-width: 850px;
        padding: 0 30px;
    }
}
@media (max-width: 767px){
    .item-featured:hover .part-1 {
        box-shadow: none;
    }
}
@media (max-width: 750px){
    .section-featured .container{
        max-width: 450px;
    }
}
@media (max-width: 480px){
    .section-featured .item-featured .part-1{
        margin-bottom: 40px;
    }
    .section-featured .item-featured .block-now {
        bottom: -25px;
    }
    .section-category-home .slider-category .item {
        height: 500px;
    }
    .section-latest.section-blog-slider .item .bg-head {
        height: 240px;
    }
    .banner-alpaca .content h3 {
        font-size: 50px;
    }
    .list-product-home .item-featured {
        padding: 0 10px;
    }
    .section-featured .arrow.prev-product-home {
        left: -6px;
    }
    .section-featured .arrow.next-product-home {
        right: -6px;
    }
}
@media (max-width: 360px){
    .section-featured .item-featured .block-now .show-now {
        padding: 10px 20px;
    }
    .section-featured .item-featured .block-now .show-heart {
        padding: 7px 20px;
    }
}
.banner-slider .item-banner{
    position: relative;
    height: calc(100vh + -124px);
    height: -webkit-calc(100vh + -124px);
    height: -moz-calc(100vh + -124px);
    height: -o-calc(100vh + -124px);
    display: flex;
    align-items: center;
}
.banner-slider .item-banner .bg-img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
}
.banner-slider .container{
    z-index: 5;
    position: relative;
}
.banner-slider .item-banner .bg-img.bg-mobile{
    display: none;
}
.banner-slider .item-banner .content{
    padding: 0 10px;
    display: none;
}
.banner-slider .item-banner .content h3{
    color: #fff;
    margin: 0;
    font-size: 60px;
    line-height: 0.8;
    font-family: 'Qanaya Demo';
}
.banner-slider .item-banner .content p{
    color: #fff;
    font-size: 17px;
}
.banner-slider .item-banner .content a {
    background: #fff;
    border-radius: 16px;
    font-size: 15px;
    color: #975E1A;
    padding: 10px 30px;
    transition: all 0.4s;
    display: inline-block;
    text-transform: uppercase;
}
.banner-slider .item-banner .content a:hover {
    background: #975E1A;
    color: #fff;
}
@media (max-width: 600px){
    .banner-slider .item-banner .bg-img.bg-mobile,
    .banner-slider .item-banner .content{
        display: block;
    }
    .banner-slider .item-banner .bg-img.bg-desktop{
        display: none;
    }
}
@media (max-width: 767px){
    .custom-dots-1 .slick-dots li button {
        width: 80px;
    }
}
@media (min-width: 767px) and (max-width: 900px) and (max-height: 1280px) {
    .banner-slider .item-banner {
        height: calc( 550px);
        height: -webkit-calc( 550px);
        height: -moz-calc( 550px);
        height: -o-calc( 550px);
    }
}
@media (max-width: 480px){
    .banner-slider .item-banner .content h3{
        font-size: 50px;
    }
    .breadcrumbs ul {
        font-size: 10px;
    }
}
@media (max-width: 991px){
    .banner-head h2 {
        font-size: 42px;
    }
    .banner-head .container {
        padding: 0 20px;
    }
}
@media (max-width: 768px){
    .content-general .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 767px){
    .banner-head h2 {
        font-size: 30px;
    }
}
@media (max-width: 991px){
    .section-faq .box .inner {
        padding-right: 0;
        padding-left: 25px;
    }
    .list-certificates .col-md-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center !important;
    }
}
@media (max-width: 480px){
    .content-general h2 {
        font-size: 28px;
    }
}
@media (max-width: 420px){
    .list-certificates h4 {
        font-size: 18px;
    }
}
@media (max-width: 600px){
    .bloque-ticket .form-control{
        padding-right: 0;
    }
    .bloque-ticket input[type="submit"] {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .bloque-how-take .inner{
        padding-right: 0;
    }
}
@media (max-width: 1040px){
    .section-contact .bloque-1,
    .section-contact .container,
    .section-sitemap .container,
    .section-alpaca .container,
    .section-comment .container,
    .single-product-alpaca .container{
        padding: 0 20px;
    }
}
@media (max-width: 991px){
    .section-contact .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-contact .bloque-2 {
        max-width: 495px;
        margin-top: 30px;
    }
    .section-sitemap .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 768px){
    .section-contact .bloque-1{
        padding-left: 0;
        padding-right: 0;
    }
    .img-about-1 {
        margin-top: 100px !important;
    }
    .img-about-2 {
        margin-top: 90px !important;
    }
}
@media (max-width: 550px){
    .section-sitemap .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 767px){
    .section-about .col-md-7,
    .section-about .col-md-5,
    .section-alpaca .col-md-7,
    .section-alpaca .col-md-5{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-padding-100 {
        padding: 40px 0;
    }
    .section-about{
        padding-top: 35px;
    }
    .img-about-1 {
        margin-top: 0px !important;
    }
    .img-about-2 {
        margin-top: 10px !important;
        margin-bottom: -10px !important;
    }
    .section-alpaca img{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .block-padding-50 {
        padding: 25px 0;
    }
}
@media (max-width: 1100px){
    .archive-blog-0 .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 991px){
    .archive-blog-0.section-blog .item {
        box-shadow: 0 0 5px #e2e2e2;
    }
}
@media (max-width: 750px){
    .archive-blog-0.section-blog .item .bg-head {
        height: 260px;
    }
}
@media (max-width: 600px){
    .archive-blog-0 .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .archive-blog-0.section-blog .container{
        max-width: 420px;
    }
    .archive-blog-0.section-blog .item {
        max-width: 98%;
    }
}
@media (max-width: 991px){
    .section-certificates-1 .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-certificates-1 .img-form-1{
        display: none;
    }
    .section-certificates-1{
        max-width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 600px){
    .section-certificates .btn-form {
        max-width: 100%;
        display: table;
        width: 80%;
        margin: 15px auto !important;
        font-size: 13px;
        padding: 6px 15px;
    }
}
@media (max-width: 500px){
    .section-certificates .form-group {
        padding: 0 0;
    }
}
@media (max-width: 900px){
    .section-comment .col-a,
    .section-comment .col-b {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-comment .col-a {
        margin-bottom: 20px;
    }
}
.zoomImg{
    width:100%;
}
@media (max-width: 1350px){
    .single-product-alpaca .col-md-8 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .single-product-alpaca .col-md-4 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
@media (max-width: 1150px){
    .single-product-alpaca .col-md-8,
    .single-product-alpaca .col-md-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 500px){
    .section-comment .item p {
        font-size: 15px;
    }
    .section-comment .item .date {
        font-size: 14px;
    }
    .section-comment .btn-add {
        font-size: 13px;
    }
    .section-comment .title-comment-0 {
        font-size: 20px;
    }
    .content-general iframe{
        height: 300px;
    }
}
@media (max-width: 380px){
    .content-general iframe{
        height: 250px;
    }
}
@media (max-width: 1350px){
    .single-product-body{
        margin-top: 70px;
    }
}
@media (max-width: 480px){
    .single-product-alpaca .btn-add,
    .single-product-alpaca .btn-whishlist{
        font-size: 13px;
        padding: 10px 20px;
        display: block;
        text-align: center;
    }
}
@media (max-width: 1150px){
    .single-product-alpaca .single-description{
        max-width: 500px;
        margin: 0 auto;
        margin-top: 25px;
    }
    .container-slider-product{
        max-width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
}
@media (max-width: 767px){
    .block-nav-single,
    .block-content-single{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
    }
    .container-slider-product{
        max-width: 600px;
    }
    .block-nav-single .bg-img img {
        height: 100px;
    }
    .block-nav-single .prev-single,
    .block-nav-single .next-single{
        width: auto;
        bottom:0;
        top:45%;
        padding: 7px;
        height: 24px;
    }
    .block-nav-single .prev-single{
        left: -25px;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .block-nav-single .next-single{
        right:-25px;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
.section-category-home .arrow.prev-category{
    left: -8px;
}
.section-category-home .arrow.next-category{
    right: -8px;
}
@media (max-width: 1250px){
    .section-productos .col-md-3 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (max-width: 991px){
    .section-productos .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .section-productos .item-featured .img-product,
    .section-productos .item-featured:hover .img-product{
        box-shadow: none;
    }
}
@media (max-width: 750px){
    .section-productos .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-productos .container{
        max-width: 400px;
    }
    .section-productos .item-featured .part-1 {
        box-shadow: 0 0 5px #e2e2e2;
    }
    .section-productos .item-featured .block-now {
        opacity: 1;
    }
}
@media (max-width: 500px){
    .section-filter .bloque-2{
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .tienda-descripcion .container .titulo {
        font-size: 28px;
    }
    .tienda-descripcion .container p {
        font-size: 14px;
    }
}
@media (max-width: 767px){
    #filtro-tienda {
        position: relative;
        top: 15px;
        border-top: 1px solid #f3f3f3;
    }
    #filtro-tienda .col-md-3{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (max-width: 500px){
    #filtro-tienda .col-md-3{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
